---
import "../styles/style.css";
import Card from "../components/Card.astro";
import Navigation from "../components/Navigation.astro";
import Button from "../components/button.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>

		<Navigation/>
		<h1>Astro</h1>

		<main>

			<Button variant="primary" size="small">text</Button>
			<Button variant="secondary" size="medium">text</Button>
			<Button variant="secondary" size="large">text</Button>



		 <!--<Card header="hej verden" />
			<img src="/foto.png" alt="et billede"/> -->



			


		</main>
	</body>
</html>
